<div class='nested-fields'>
	<%= f.input_field :titulo, class: 'form-control my-2', placeholder: 'Título del dibujo' %>
    <%= f.input_field :descripcion, class: 'form-control my-2', placeholder: 'Descripción del dibujo', rows: 5 %>
    <%= f.input_field :tecnica, class: 'form-control my-2', placeholder: 'Técnica del dibujo', rows: 5 %>
    <%= f.input_field :compromiso, class: 'form-control my-2', placeholder: 'Menciona que puedes hacer para cuidar tu salud y la del planeta', rows: 5 %>
</div>