<div class='nested-fields'>
	<%= f.input_field :nombre, class: 'form-control my-2', placeholder: 'Nombre(s)'%>
	<%= f.input_field :apellido_paterno, class: 'form-control my-2', placeholder: 'Apellido Paterno' %>
	<%= f.input_field :apellido_materno, class: 'form-control my-2', placeholder: 'Apellido Materno' %>
	<%= f.input_field :telefono_contacto, class: 'form-control my-2', placeholder: 'Teléfono de contacto (opcional)' %>
</div>
