<div id="inscripcion" class="row justify-content-center bg-dark mt-5">
	<%= render partial: "mosaico_natura/shared/sub-header", locals: { title: "Edición de los datos de tu registro" } %>
	<div class="col-12 col-xl-8 py-4 text-center">
		<%= render 'form', usuario: @registro %>
		<%= link_to 'Regresar', mosaico_natura_root_path, class: "mt-4" %>
	</div>
</div>