<div id="inscripcion" class="row justify-content-center mt-5 pt-4">
	<p id="notice" class="bg-success text-white"><%= notice %></p>

	<%= render partial: "mosaico_natura/shared/sub-header", locals: { title: "COMPLETA LOS DATOS DEL REGISTRO" } %>
	
	<div class="col-12 col-xl-8 py-4 text-center">
		<%= render 'form', usuario: @registro %>
	</div>

</div>
