<div id="inscripcion" class="row justify-content-center bg-dark mt-5">
	<div class="col-12 col-xl-8 text-center">
		<%= render partial: "mosaico_natura/shared/sub-header", locals: { title: "Completa los siguientes datos para completar tu registro:" } %>
		<%= render 'form', usuario: @registro %>
	</div>
</div>
