<div id="inscripcion" class="row justify-content-center mt-5 pt-2">
	<p id="notice" class="w-100 m-0 p-3 font-weight-bolder bg-success text-black-50 text-right"><%= notice %></p>
	<div class="col-12 col-xl-8 text-center">
		<%= render partial: "mosaico_natura/shared/sub-header", locals: { title: "Completa los siguientes datos para completar tu registro:" } %>
		
		<%= render 'form', usuario: @registro %>
	</div>
</div>
