<% content_for(:delayedjs) do %>
	<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
			$(document).ready(function(){
					
					actualizaInfoModal = function(button){
							var id = button.data('id');
							var titulo = button.data('titulo');
							var tecnica = button.data('tecnica');
							var descripcion = button.data('descripcion');
							var compromiso = button.data('compromiso');
							var calificacion = button.data('calificacion');
							var idAnterior = button.data('anterior');
							var idSiguiente = button.data('siguiente');
							var foto1 = "/media/ayv/"+ id +"/"+button.data('proceso');
							var foto2 = "/media/ayv/"+ id +"/"+button.data('terminado');
							
							var modal = $('#modalConcurso');

							modal.find('#modalConcursoTitle').html("<span class='badge badge-pill badge-secondary mt-1 mr-3 pull-left px-3 py-2'>" + id +"</span>" +
                  "<p class='text-warning text-wrap text-center'>" +
                  "<button class='btn btn-outline-warning btn-sm fa fa-arrow-left pull-left rounded-circle' data-toggle='tooltip' data-placement='bottom' title='Dibujo anterior' type='button' onclick='simulaClick("+ idAnterior +")'></button>" +
                  titulo +
                  "<button class='btn btn-outline-warning btn-sm fa fa-arrow-right pull-right rounded-circle' data-toggle='tooltip' data-placement='bottom' title='Dibujo siguiente' type='button' onclick='simulaClick("+ idSiguiente +")'></button>" +
                  "</p>");

							modal.find('#modalConcursoBody').html("<div class='w-25 pull-left'>" +
									"<p class='small text-left'>" +
                  "<b class='text-warning'>Dibujo en proceso:</b><br />" +
									"<a class='btn btn-link' href='"+ foto1 +"' target='_blank'><img class='img-fluid ' src='"+ foto1 +"'></a><br /><b class='text-warning'>Descripcion:</b><br />"+ descripcion +"</p>" +
									"<p class='small text-left'><b class='text-warning'>Técnica:</b><br />"+ tecnica +"</p>" +
									"<p class='small text-left'><b class='text-warning'>Compromiso:</b><br />"+ compromiso +"</p>" +
									"</div>" +
									"<div class='w-75 pull-left'>" +
									"<p><b class='text-warning'>Dibujo terminado:</b><br />" +
									"<a class='btn btn-link btn-block' href='"+ foto2 +"' target='_blank'><img class='img-fluid' src='"+ foto2 +"'></a></p>" +
									"</div>");

							modal.find('#modalConcursoFooter').html("<div class='form-group w-75 h5'>" +
                  "<label for='customRange-"+ id +"'>Calificación: </label>" +
                  "<input type='range' role='button' class='w-50 mx-3' min='1' max='10' id='range-"+ id +"' value='"+ calificacion +"'>" +
                  "<span id='calificacion-"+ id +"' class='badge badge-info badge-pill'>"+ calificacion +"</span>" +
                  "</div>");
					};
           simulaClick = function(id){
               if(id==undefined) return;
               actualizaInfoModal($("#boton-"+ id));
           };
					
					$('.dibujos_popover').popover({
							html: true,
							boundary: 'window',
							trigger: 'hover',
							placement: 'right',
							title: function(){
									var button = $(this);
									return button.data('id')+": "+button.data('titulo');
							},
							content: function(){
									var button = $(this);
									var foto = "/media/ayv/"+button.data('id')+"/"+button.data('terminado');
									return "<img class='img-fluid' src='"+foto+"'>"
							}
					});
					
					$('#modalConcurso').on('show.bs.modal', function (event) {
							actualizaInfoModal($(event.relatedTarget)); // Actualizar Modal con Button that triggered the modal :p
          });
					
					$('#modalConcurso').on('click', "input[type='range']", function(){
					    var range = $(this);
							$(range.attr('id').replace('range','#calificacion')).html(range.val());
					});
					
			});
	
	</script>
<% end %>

<% content_for(:delayedcss) do %>
	<style type="text/css" data-turbolinks-track="true">
		.popover.show{
			background-color: #666666!important;
		}
		.popover-header{
			background-color: #333333!important;
		}
		#acordeon-categorias .row:hover{
			background-color: #666666!important;
		}

	</style>
<% end %>

<div class="row mt-5 pt-4">
	<div class="col-12 mb-3">
		<ul class="list-group list-group-flush text-dark">
			<li class="active list-group-item list-group-item-info font-weight-bolder h4">Instrucciones: <small>(Actualizadas al 30-03-2022)</small></li>
			<!--li class="list-group-item small">Dar click en la categoría deseada para mostrar los dibujos concursantes.</li>
			<li class="list-group-item small">Pasar el mouse encima (hover) de los botones (Proceso/Terminado) para ver un preview de la foto del dibujo.</li>
			<li class="list-group-item small">Dar click sobre cualquier botón para ver AMBAS imagenes en grande en un modal.</li>
			<li class="list-group-item small">Si se desea ver cualquier imagen en otra ventana, dar click sobre la imagen dentro del modal abrira dicha imagen en una nueva ventana.</li>
			<li class="list-group-item small">Una vez inspeccionada las imagenes, SÓLO si se desea que dicho dibujo NO pase a ser finalista (i.e. ser calificado por jueces) se debe desactivar el switch de la cuarta columna.</li>
			<li class="list-group-item small">No es necesario guardar los cambios, al momento de interactuar con cada switch se guarda el estado del mismo.</li>
			<li class="list-group-item small">Es todo.</li-->
		</ul>
	</div>
	<%= render partial: "entre_azul_y_verde/panel/tabla_finalistas" %>
</div>

<%= render :partial => "entre_azul_y_verde/shared/modal" %>
