<% content_for(:delayedjs) do %>
	<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
		$(document).ready(function(){
				$('.dibujos_popover').popover(
						{
								html: true,
								//container: 'body',
								boundary: 'window',
								trigger: 'hover'
						}
				);
				$('#modalConcurso').on('show.bs.modal', function (event) {
						var button = $(event.relatedTarget) // Button that triggered the modal
						var foto = button.data('foto') // Extract info from data-* attributes
						var title = button.data('original-title') // Extract info from data-* attributes
						// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
						// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
						var modal = $(this)
						modal.find('.modal-title').text(title);
						modal.find('.modal-body').html("<img class='img-fluid' src="+foto+">");
						modal.find('.modal-footer-text').html("<a class='btn btn-link' href="+foto+" target='_blank'>Ver foto en nueva ventana</a>")
				})
		});
		
	</script>
<% end %>

<% content_for(:delayedcss) do %>
	<style type="text/css" data-turbolinks-track="true">
		.popover.show{
			background-color: #666666!important;
		}
		.popover-header{
			background-color: #333333!important;
		}
	</style>
<% end %>

<div class="row mt-5 pt-4">
	<div class="col-12 mb-3">
		<ul class="list-group text-dark">
			<li class="active list-group-item list-group-item-info font-weight-bolder h">Instrucciones:</li>
			<li class="list-group-item">Pasar el mouse encima del botón para un preview de la foto.</li>
			<li class="list-group-item">Dar click sobre el botón si se desea ver en grande en otra ventana.</li>
		</ul>
	</div>
	<%= render partial: "entre_azul_y_verde/panel/tabla_categoria" %>
</div>

<%= render :partial => "entre_azul_y_verde/shared/modal" %>
