<% content_for(:delayedjs) do %>
	<script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
		$(document).ready(function(){
				$('.dibujos_popover').popover({
						html: true,
						boundary: 'window',
						trigger: 'hover'
				});
				
				$('#modalConcurso').on('show.bs.modal', function (event) {
						var button = $(event.relatedTarget) // Button that triggered the modal
						var foto = button.data('foto') // Extract info from data-* attributes
						var title = button.data('original-title') // Extract info from data-* attributes
						// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
						// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
						var modal = $(this)
						modal.find('.modal-title').text(title);
						modal.find('.modal-body').html("<img class='img-fluid' src="+foto+">");
						modal.find('.modal-footer-text').html("<a class='btn btn-link' href="+foto+" target='_blank'>Ver foto en nueva ventana</a>")
				});
				
				$('.custom-control-input').on('change', function(){
						this_input = $(this)
						is_checked = this_input.prop('checked');
						nameId = this_input.attr('name');
						if(is_checked){
								$.ajax({
										type:"POST",
										url:"/calificaciones", //url guarda la ruta hacia donde se hace la peticion
										data:{
												calificacion: {
														usuario_id: nameId.replace('calificacion-',''),
														calificacion: 1
												}
										},
										success: function(datos){ //success es una funcion que se utiliza si el servidor retorna informacion
												console.log(datos)
										},
										dataType: 'json' // El tipo de datos esperados del servidor. Valor predeterminado: Intelligent Guess (xml, json, script, text, html).
								})
						}else{
								$.ajax({
										type:"DELETE",
										url:"/calificaciones/"+nameId.replace('calificacion-',''), //url guarda la ruta hacia donde se hace la peticion
										success: function(datos){ //success es una funcion que se utiliza si el servidor retorna informacion
												console.log(datos)
										},
										dataType: 'json' // El tipo de datos esperados del servidor. Valor predeterminado: Intelligent Guess (xml, json, script, text, html).
								})
						}
				});
		});
	
	</script>
<% end %>

<% content_for(:delayedcss) do %>
	<style type="text/css" data-turbolinks-track="true">
		.popover.show{
			background-color: #666666!important;
		}
		.popover-header{
			background-color: #333333!important;
		}
	</style>
<% end %>

<div class="row mt-5 pt-4">
	<div class="col-12 mb-3">
		<ul class="list-group list-group-flush text-dark">
			<li class="active list-group-item list-group-item-info font-weight-bolder h4">Instrucciones:</li>
			<li class="list-group-item small">Dar click en la categoría deseada para mostrar los dibujos concursantes.</li>
			<li class="list-group-item small">Pasar el mouse encima (hover) de los botones (Proceso/Terminado) para ver un preview de la foto del dibujo.</li>
			<li class="list-group-item small">Dar click sobre el botón deseado para ver la imagen en grande en un modal.</li>
			<li class="list-group-item small">Si se desea ver la imagen en otra ventana, dentro del modal esta la liga para ello.</li>
			<li class="list-group-item small">Una vez vista la imagen, SÓLO si se desea que dicho dibujo pase a ser finalista (i.e. ser calificado por jueces) se debe activar el switch de la cuarta columna.</li>
			<li class="list-group-item small">No es necesario guardar los cambios, al momento de interactuar con cada switch se guarda el estado del mismo.</li>
			<li class="list-group-item small">Es todo.</li>
		</ul>
	</div>
	<%= render partial: "entre_azul_y_verde/panel/tabla_categoria" %>
</div>

<%= render :partial => "entre_azul_y_verde/shared/modal" %>
