<h1>Editing Entre Azul Y Verde Galeria</h1>

<%= render 'form', entre_azul_y_verde_galeria: @entre_azul_y_verde_galeria %>

<%= link_to 'Show', @entre_azul_y_verde_galeria %> |
<%= link_to 'Back', entre_azul_y_verde_galerias_path %>
