<div id="galerias" class="row justify-content-center mt-5 pt-4">
	<div class="col-12 text-center sub-header">
		
		<p id="notice"><%= notice %></p>
		
		<h1>Entre Azul Y Verde Galerias</h1>
		
		<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
				<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				
				<% @entre_azul_y_verde_galerias.each do |entre_azul_y_verde_galeria| %>
					<div class="carousel-item">
						<img src="..." class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h5>Second slide label</h5>
							<p>Some representative placeholder content for the second slide.</p>
						</div>
					</div>
				<% end %>

			</div>
			<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		
	
		<%#= link_to 'New Entre Azul Y Verde Galeria', new_entre_azul_y_verde_galeria_path %>
	
	
	</div>
</div>



