<% content_for(:delayedjs) do %>
  <script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
  </script>
<% end %>

<% content_for(:delayedcss) do %>
  <style type="text/css" data-turbolinks-track="true">
  </style>
<% end %>
<div id="galerias" class="row justify-content-center mt-5 pt-4">
  <div class="col-12 text-center sub-header">
  </div>
  <div class="col-12">
    <%= render partial: 'entre_azul_y_verde/galerias/2022/ganadores' %>
  </div>
  <div class="col-12">
    <%= render partial: 'entre_azul_y_verde/galerias/2022/menciones_honorificas' %>
  </div>
</div>
