<% content_for(:delayedjs) do %>
  <script type="text/javascript" charset="utf-8" data-turbolinks-track="true">
      $(document).ready(function(){

          actualizaInfoModal = function(button){
              var id = button.data('id');
              var titulo = button.data('titulo');
              var tecnica = button.data('tecnica');
              var descripcion = button.data('descripcion');
              var compromiso = button.data('compromiso');
              var nombre = button.data('nombre');
              var lugar = button.data('lugar');
              var idAnterior = button.data('anterior');
              var idSiguiente = button.data('siguiente');
              var foto1 = "/media/ayv/"+ id +"/"+button.data('proceso');
              var foto2 = "/media/ayv/"+ id +"/"+button.data('terminado');

              var modal = $('#modalConcurso');

              modal.find('#modalConcursoTitle').html("<span class='badge badge-pill badge-secondary mt-1 mr-3 pull-left px-3 py-2'>" + lugar +"</span>" + nombre +
                  "<p class='text-warning text-wrap text-center'>" +
                  "<button class='btn btn-outline-warning btn-sm fa fa-arrow-left pull-left rounded-circle' data-toggle='tooltip' data-placement='bottom' title='Dibujo anterior' type='button' onclick='simulaClick("+ idAnterior +")'></button>" +
                  titulo +
                  "<button class='btn btn-outline-warning btn-sm fa fa-arrow-right pull-right rounded-circle' data-toggle='tooltip' data-placement='bottom' title='Dibujo siguiente' type='button' onclick='simulaClick("+ idSiguiente +")'></button>" +
                  "</p>");

              modal.find('#modalConcursoBody').html("<div class='w-25 pull-left'>" +
                  "<p class='small text-left'>" +
                  "<b class='text-warning'>Dibujo en proceso:</b><br />" +
                  "<a class='btn btn-link' href='"+ foto1 +"' target='_blank'><img class='img-fluid ' src='"+ foto1 +"'></a><br /><b class='text-warning'>Descripcion:</b><br />"+ descripcion +"</p>" +
                  "<p class='small text-left'><b class='text-warning'>Técnica:</b><br />"+ tecnica +"</p>" +
                  "<p class='small text-left'><b class='text-warning'>Compromiso:</b><br />"+ compromiso +"</p>" +
                  "</div>" +
                  "<div class='w-75 pull-left'>" +
                  "<p><b class='text-warning'>Dibujo terminado:</b><br />" +
                  "<a class='btn btn-link btn-block' href='"+ foto2 +"' target='_blank'><img class='img-fluid' src='"+ foto2 +"'></a></p>" +
                  "</div>");


          };
          simulaClick = function(id){
              if(id==undefined) return;
              actualizaInfoModal($("#boton-"+ id));
          };

          $('#modalConcurso').on('show.bs.modal', function (event) {
              actualizaInfoModal($(event.relatedTarget)); // Actualizar Modal con Button that triggered the modal :p
          });

      });
  </script>
<% end %>

<% content_for(:delayedcss) do %>
  <style type="text/css" data-turbolinks-track="true">

  </style>
<% end %>


<div class="row d-flex justify-content-center mt-5 pt-4">
  <%= render partial: 'entre_azul_y_verde/galerias/2022/ganadores' %>
  <%= render partial: 'entre_azul_y_verde/galerias/2022/menciones_honorificas' %>
</div>

<%= render :partial => "entre_azul_y_verde/shared/modal" %>
