<div class='nested-fields'>
	<%= f.input :original_filename %>
	<%#= f.input :filename %>
	<%= f.input :titulo %>
	<%#= f.input :fecha_subida %>
	<%#= f.input :ruta %>
	<%#= f.number :size %>
	<%= f.input :id_usuario %>
	<%= f.input :id_categoria %>
</div>
