<div class='nested-fields'>
	<%= f.input :original_filename %>
	<%#= f.input :filename %>
	<%= f.input :titulo %>
	<%#= f.input :fecha_subida %>
	<%#= f.input :ruta %>
	<%#= f.input :id_usuario %>
	<%#= f.input :id_categoria %>
	<%= link_to_remove_association "Quita dibujo", f, class: 'btn btn-danger btn-sm' %>
</div>
