<div id="bases" class="row">
	<div class="col-12 text-center">
		<img src="/assets/entre_azul_y_verde/bases.png" alt="Bases del concurso" title="Bases del concurso" class="img-fluid">
	</div>
	<div class="col-12 text-center">
	
	</div>
</div>