<p>Podrán participar todos los dibujos y pinturas realizados por niños y jóvenes mexicanos de 6 a 17 años, que vivan en México o en el extranjero (que acrediten la nacionalidad mexicana).</p>
<p>Serán candidatos a participar todos los dibujos y pinturas enviados que cumplan estrictamente con los siguientes requisitos:</p>
<ul>
	<li>Respetar la temática propuesta: <strong>“Somos parte de la solución”</strong>.</li>
	<li>Técnica libre: lápices de color, crayolas, acuarela, óleo, acrílicos, tinta china, "collage", gises, plumones o mixta. No se aceptará arte digital.</li>
	<li>Se valorará la originalidad y la calidad del dibujo y pintura en sí mismo, tomando en cuenta la edad de su autor.</li>
	<li>Habrá tres lugares ganadores para cada categoría, resultando un total de 12 ganadores.</li>
	<li>Se notificará vía correo electrónico o telefónicamente en su caso, a los ganadores de cada categoría sin mencionar el lugar en que quedaron.</li>
	<li>Los concursantes pueden participar únicamente con un dibujo o pintura</li>
	<li>El dibujo o pintura debe ser una idea original (los participantes debe evitar el plagio total o parcial de obras publicadas en cualquier medio) de lo contrario serán descalificados.</li>
	<li>El dibujo o pintura debe incluir el nombre del autor y estado.</li>
	<li>Las fotografías de la obra y los datos del autor, deben subirse a la plataforma XXXX (no se aceptarán trabajos que no tengan los datos requeridos).</li>
	<li>Los resultados se anunciarán la segunda quincena de agosto del 2021.</li>
	<li>Contacto: entreazulyverde@conabio.gob.mx</li>
</ul>
<h4 class="bases-izq text-uppercase">Condiciones legales</h4>
<ul>
	<li>Si tu trabajo no cuenta con estos requisitos, será descalificado. No se aceptarán dibujos y pinturas que hayan sido modificados con medios digitales.</li>
	<li>Los concursantes no podrán ser familiares de los organizadores ni de los miembros del jurado.</li>
	<li>Los participantes conservarán los derechos sobre sus obras, pero al concursar, aceptan que las instituciones patrocinadoras puedan hacer uso de las obras de manera ilimitada, para su utilización por sí o por terceros en México y otros países, para su reproducción, publicación, edición, comunicación pública, con fines promocionales o de difusión relacionados con el concurso o para fijarlas por medios impresos, digitales, electrónicos u otros, sin límite alguno, sin que se requiera notificar ni tampoco compensar al autor, en la consideración de que cada vez que se usen, deberá darse al autor el crédito correspondiente.</li>
	<li>Toda la información proporcionada será Confidencial y está protegida conforme al aviso de privacidad de este concurso, el cual está disponible en www.entreazulyverde.mx</li>
	<li>En caso de resultar ganador; se deberá de presentar de conformidad con el artículo 3º de la Ley de Nacionalidad, alguno de los siguientes documentos probatorios de la nacionalidad mexicana:<br>
		Copia certificada del acta de nacimiento<br>
		La carta de naturalización;<br>
		El pasaporte;<br>
		La cédula de identidad ciudadana; y<br>
		Certificado de matrícula consular de alta seguridad que cuente con los siguientes elementos de seguridad: a) fotografía digitalizada; b) Banda magnética; c) Identificación holográfica y en caso de no hacerlo será descalificado.</li>
</ul>
<h5 class="text-uppercase">Asuntos no contemplados en esta Convocatoria</h5>
<p>Cualquier asunto o base no establecido en el presente documento, será resuelto por la CONABIO, quien será la máxima autoridad en relación con la presente convocatoria.</p>
<h5 class="text-uppercase">Aviso de datos personales</h5>
<h5 class="text-uppercase">Datos personales que se recaban y su finalidad</h5>
<p>Cuando usted se registra en el 3erº Concurso Nacional Infantil y Juvenil de Dibujo y Pintura de la Naturaleza de la Conabio, se requiere que nos proporcione el nombre y apellidos del padre, madre o tutor legal del menor de edad participante, así como el nombre, apellidos y nacionalidad del menor participante, un correo electrónico, domicilio y teléfono.</p>
<p>Los datos personales de nombre y apellidos del padre, madre o tutor legal del menor de edad participante, así como el nombre, apellidos y nacionalidad del menor participante, el correo electrónico, domicilio y teléfono, que se solicitan tienen como finalidad el registro de los participantes del concurso.</p>
<p>De igual forma, los datos personales de nombre y apellidos del padre, madre o tutor legal, el correo electrónico, domicilio y teléfono, se usarán para ponernos en contacto para cualquier tema relacionado con el concurso o bien para informarle que el menor de edad ha sido ganador de alguna categoría del concurso, según corresponda.</p>
<p>Asimismo, el nombre y apellidos del menor de edad participante son usados para el registro de la categoría en que participará el menor de edad dentro del concurso y en caso de resultar ganador, se utilizará su nombre para dar el reconocimiento correspondiente y para dar el crédito autoral, en términos de la Ley Federal del Derecho de Autor.</p>
<p>No recabamos datos personales sensibles* y en caso de recibirlos no se usarán para ningún fin ni se conservarán en nuestros archivos.</p>
<h5 class="text-uppercase">Fundamento para el tratamiento de datos personales</h5>
<p>El fundamento para el tratamiento de los datos personales son los artículos 121, 123, 124, 125, 128 de la Ley General de Transparencia y Acceso a la Información Pública; 121, 123, 124, 125, 129, del 130 al 144, 146, 151, 152 de la Ley Federal de Transparencia y Acceso a la Información Pública; 25, 26, 27 y 28 de la Ley General de Protección de Datos Personales en posesión de Sujetos Obligados, según aplique.</p>
<h5 class="text-uppercase">Transferencia de datos personales</h5>
<p>Se podrá realizar transferencia de sus datos en caso de resultar ganador y solo para dar el debido reconocimiento y crédito autoral en términos de la Ley Federal del Derecho de autor.</p>
<p>Fuera de los fines mencionados en el párrafo anterior no se realizará transferencia de sus datos a terceros, salvo aquéllas que sean necesarias para atender requerimientos de información de una autoridad competente, en ejercicio de sus atribuciones cuando estén debidamente fundadas y motivadas.</p>
