<div id="categorias" class="row">
	<div class="col-12 tex-center">
		<img src="/assets/entre_azul_y_verde/categorias.png" alt="Categorías del concurso" title="Categorías del concurso" class="img-fluid">
	</div>
	<div class="col-12 text-center">
	
	</div>
</div>