	    <div class="col-12 col-md-8 py-4 text-left">
      <div class="row" style="font-size: 1.20rem;">
                <div class="col-4">
                 <center><img src="/concursos_assets/entre_azul_y_verde/AngelicaSanchez.jpg" class="img-responsive rounded-circle" alt="Angélica Sánchez"></center><br>
                    <h4><a href="https://www.angelicasanchezartistaplastica.com/" target="_blank">Angélica Sánchez</a></h4>
                    <p>Angélica ha participado en más de 25 muestras colectivas a nivel estatal, nacional e internacional. Tras titularse de la Escuela Nacional de Pintura, Escultura y Grabado, La Esmeralda, CDMX; hoy radica en la ciudad de Puebla. Ha sido becaria en Artes visuales por el Fondo Estatal para la Cultura y las Artes, Puebla, así como también ha sido galardonada por el XXI Encuentro Nacional de Arte Joven, Aguascalientes, Ags. México.</p>
                    <p>Su obra multimedia ha sido seleccionada en el 8e Festival des Arts Multi-média: Rencontres Internationales des étudiants & des artistes independents. Bourges, France.</p>
                    <p>Su obra pictórica adquirió el 3er lugar en la convocatoria para la Campaña Nacional Anticautiverio de Mamíferos Acuáticos en México por Empty the Tanks México.</p>
                    <p>Angélica forma parte del catálogo digital de IMACP, Instituto Municipal de Arte y Cultura Puebla, su ciudad natal. 
Sus piezas han sido adquiridas por compradores y coleccionistas tanto en México como en lo internacional. </p>
                </div>
				
				<div class="col-4">
                  <center><img src="/concursos_assets/entre_azul_y_verde/JoelRodriguez.jpg" class="img-responsive rounded-circle" alt="Joel Rodríguez"></center><br>
                    <h4><a href="https://www.instagram.com/joel_bio_ilustracion/?hl=es-la " target="_blank">Joel Rodríguez Palomares</a></h4>
                    <p>Biólogo egresado de la Universidad de Guadalajara del Centro Universitario de Ciencias Biológico-Agropecuarias (CUCBA), apasionado por la ilustración científica a través de esta disciplina busco contribuir a que la sociedad conozca más sobre la naturaleza, la biología y el medio ambiente.</p>
                    <p>Desde el 2019 tengo un proyecto llamado JRP BIO-ILUSTRACIÓN el cual tiene como objetivo hacer divulgación de ciencia a través de ilustraciones científicas y naturalistas plasmadas en playeras, pretende dar a conocer la biodiversidad local y regional, esto para crear conciencia sobre la conservación de especies y hacer educación ambiental. </p>
                    <p>He tenido algunas colaboraciones de ilustraciones con diversas instituciones como REDTOX, CONAFOR, Colegio de Biólogos de Jalisco, ALUXES-PALENQUE Refugio de Animales, entre otras.</p>
                    <p>He tenido exposición de mi proyecto en diferentes ferias ambientales, exposiciones, talleres, coloquios, congresos y simposios en materia de educación ambiental y biología.</p> 
                </div>
                
                <div class="col-4">
                   <center><img src="/concursos_assets/entre_azul_y_verde/MontserratGarcia.jpg" class="img-responsive rounded-circle" alt="Montserrat García"></center><br>
                    <h4><a href="https://m.facebook.com/ExplorandoconAleMontse/" target="_blank">Alejandra Montserrat García Díaz</a></h4>
                    <p>Bióloga egresada de la Universidad Autónoma del Estado de Hidalgo (UAEH), quien en  2018 comenzó un proyecto de divulgación científica a través del arte, que lleva como nombre <em>Explorando con Ale Montse</em>, en donde con ayuda de ilustraciones científicas y naturalistas, vídeos informativos, y entrevistas a personas con proyectos en pro de la conservación, tiene como objetivo dar a conocer la importancia que tienen los organismos que nos rodean, principalmente algunos artrópodos como insectos y arácnidos; además de dar a conocer la biodiversidad y tradiciones de los lugares que visita.</p>
                    <p>Desde 2018 ha estudiado diversos cursos de ilustración científica con expertos en la materia, como Cecilia Santamaría Mandujano y los profesores del Colectivo de Ilustradores Científicos y de la Naturaleza de México (CICYNM). Actualmente es miembro fundador del Colectivo Arte Naturaleza, en donde se tiene como objetivo, dar a conocer la importancia de la ilustración como herramienta de la ciencia y la conservación de la biodiversidad.</p>
                    <p>Además, es miembro del nodo hidalgo de la Red Mexicana de Periodistas de Ciencia (REDMPC); de la Red Nacional de Divulgadores de Ciencia y Tecnología México (Renadicyt MX); y colabora con Ecoydes A. C. en proyectos de divulgación científica y educación ambiental; así como en TV Cable Hidalguense Canal 6, con cápsulas de divulgación científica.</p>
                    <p>Junto con otros colectivos del estado de Hidalgo, está llevando a cabo un proyecto sobre “Comunidades ecológicas” en El Bordo, Pachuca, el cual forma parte de los grupos <em>Roots & Shoots</em> por parte del Instituto Jane Goodall Argentina.</p>
                </div>
                </div>
         </div> 