<div id="medios" class="row">
	<div class="col-12 tex-center">
		<img src="/assets/entre_azul_y_verde/medios.png" alt="Información para medios" title="Información para medios" class="img-fluid">
	</div>
	<div class="col-12 text-center">
	
	</div>
</div>