<div id="queEs" class="row">
	<div class="col-12 text-center">
		<img src="/assets/entre_azul_y_verde/queEs.png" alt="¿Qué es?" title="¿Qué es?" class="img-fluid">
	</div>
	<div class="row">
	<div class="col-12 text-center">
		<p>La salud de los seres humanos depende de la salud del planeta. Muchas personas consideran que no tienen responsabilidad sobre el impacto a la naturaleza, sin embargo, todos contribuimos pero también todos podemos ser parte de la solución.</p>
		<p>Llevamos más de un año sufriendo las consecuencias de la pandemia, encerrados, sin socializar con la familia, los amigos y con la naturaleza. Nosotros mismos causamos el deterioro del ambiente mediante nuestro consumo y desperdicio. Piensa en tus actividades diarias <a href="https://www.biodiversidad.gob.mx/biodiversidad/que_hacer" target="_blank">¿qué podemos hacer para mejorar el ambiente?</a></p>
	</div>
	<div class="col-12 text-center">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/i0jV-D2JeWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div class="col-12 text-center">
		<h2>OBJETIVO</h2>
		<p>Que los niños y jóvenes, mediante una pintura o dibujo, expresen sus ideas sobre cómo todos podemos contribuir a vivir en armonía con la naturaleza.</p>
		<h2>FECHA</h2>
		<p style="color: #72BBBF">Convocatoria abierta a partir del 1 de julio</p>
<p style="color: #72BBBF">Cierre 31 de agosto</p>
<p style="color: #72BBBF">Premiación segunda quincena  de septiembre</p>
	</div>
		</div>
</div>
