<div id="intro" class="row justify-content-center">
	<div class="col-12 col-md-8 col-lg-6 pt-5 my-5">
		<img src="/concursos_assets/entre_azul_y_verde/intro.png" alt="Entre Azul y Verde" title="Entre Azul y Verde" class="img-fluid">
	</div>
</div>
<%= render :partial => 'queEs' %>
<%= render :partial => 'categorias' %>
<%= render :partial => 'bases' %>
<%= render :partial => 'medios' %>