<div class="row" id="intro">
	<div class="col-3"></div>
	<div class="col">
		<img src="/assets/entre_azul_y_verde/intro.png" alt="Entre Azul y Verde" title="Entre Azul y Verde" class="img-fluid">
	</div>
	<div class="col-3"></div>
</div>
<%= render :partial => 'queEs' %>
<%= render :partial => 'categorias' %>
<%= render :partial => 'bases' %>
<%= render :partial => 'medios' %>