<div class="row no-gutters text-center">
	<div class="col-6 col-md-4 col-lg-3">
		<p>NUESTROS COLABORADORES</p>
			<ul class="list-unstyled">
				<li><a href="http://www.gob.mx/conabio/" target="_blank"><span class="conabio">Conabio</span></a></li>
				<li><a href="http://www.gob.mx/conanp/" target="_blank"><span class="conabio">Conanp</span></a></li>
				<li style="color: white">Fundación Claudia y Roberto Hernández</li>
				<li><a href="https://epson.com.mx/" target="_blank">Epson</a></li>
				<li><a href="http://www.sedema.cdmx.gob.mx/" target="_blank">Secretaría del Medio Ambiente de la CDMX</a></li>
				<li><a href="https://naucalpan.gob.mx" target="_blank">Secretaría de Cultura del Ayuntamiento de Naucalpan de Juárez</a></li>
				<li><a href="https://fmcn.org/" target="_blank">Fondo Mexicano para la Conservación de la Naturaleza</a></li>
				<li><a href="https://www.nationalgeographic.com/" target="_blank">National Geographic</a> </li>
				<li><a href="http://www.ngenespanol.com/" target="_blank">National Geographic en Espa&ntilde;ol</a></li>
				<li><a href="http://www.fundacionacir.org.mx/" target="_blank">Fundaci&oacute;n ACIR</a></li>
				<li><a href="https://www.teleurban.tv" target="_blank">Tele Urban</a></li>
				<li><a href="https://www.biodiversidad.gob.mx/especies/Invasoras/proyecto.html" target="_blank">gef</a></li>
				<li><a href="http://www.mx.undp.org" target="_blank">PNUD</a></li>
				<li><a href="http://www.mexicanisimo.com.mx" target="_blank">Mexicanísimo</a></li>
			</ul>
	</div>
	<div class="col-6 col-md-4 col-lg-3">
		<p>SÍGUENOS</p>
		<ul class="list-unstyled">
			<li><a href="https://www.facebook.com/conabio/" target="_blank">Facebook</a></li>
			<li><a href="https://twitter.com/conabio" target="_blank">Twitter</a></li>
			<li><a href="https://www.youtube.com/user/biodiversidadmexico" target="_blank">YouTube</a></li>
			<li><a href="https://www.vimeo.com/conabio" target="_blank">Vimeo</a></li>
			<li><a href="https://soundcloud.com/conabio" target="_blank">SoundCloud</a></li>
		</ul>
	
	</div>
	<div class="col-12 col-md-4 col-lg-3">
		<p>CONOCE</p>
		<ul class="list-unstyled">
			<li><a href="http://www.paismaravillas.mx/" target="_blank">México el país de las maravillas</a></li>
			<li><a href="http://www.paismaravillas.mx/vecinos.html" target="_blank">Vecinos verdes</a></li>
			<li><a href="http://www.paismaravillas.mx/megadiverso.html" target="_blank">México megadiverso</a></li>
			<li><a href="http://biodiversidad.gob.mx/" target="_blank">Biodiversidad Mexicana</a></li>
			<li><a href="http://www.naturalista.mx/" target="_blank">Naturalista</a></li>
			<li><a href="http://www.enciclovida.mx/" target="_blank">Enciclovida</a></li>
		</ul>
	</div>
	<div class="col-12 col-lg-3">
		<a href="http://www.paismaravillas.mx/" target="_blank"><img src="/concursos_assets/entre_azul_y_verde/pais_maravillas.png"></a>
	</div>
</div>
