<p class="text-left">En la plataforma deberás completar la siguiente información:</p>
<ul class="text-left">
	<li>Título de la obra.</li>
	<li>Nombre completo y edad.</li>
	<li>Correo electrónico.</li>
	<li>Domicilio (calle, número, colonia, alcaldía o municipio, código postal, estado).</li>
	<li>Teléfono.</li>
	<li>Medio por el cual te enteraste del concurso.</li>
	<li>Descripción de tu dibujo incluyendo lo que tú puedes hacer para cuidar tu salud y la del planeta.</li>
	<li>La madre, padre o tutor debe de incluir su nombre acompañado de la siguiente leyenda: “Autorizo la participación de mi hijo/a al concurso "Entre azul y verde", acepto las bases y otorgo mi conformidad a lo expuesto en ellas.</li>

</ul>