<h1>Hola, bienvenido al registro de participantes</h1>
<h3>A continuación te solicitaremos la sigueinte información</h3>

<%= render 'form', usuario: @usuario %>

<%= link_to 'Back', usuarios_path %>
