<!-- Modal -->
<div class="modal fade" id="modalConcurso" tabindex="-1" aria-labelledby="modalConcursoLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4 class="modal-title text-info mx-auto" id="modalConcursoLabel"></h4>
				<button type="button" class="close text-warning float-right" data-dismiss="modal" aria-label="Cerrar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body px-4"></div>
			<div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cerrar</button>
      </div>
		</div>
	</div>
</div>