<div class="col-12 text-center sub-header border">
    <h1 class="display-3"><img src="/concursos_assets/mosaico_natura/inscripcion-izq.png" alt="Inscripci贸n" title="Inscripci贸n" class="img-fluid pr-4">
    <%= title %>
    <img src="/concursos_assets/mosaico_natura/inscripcion-der.png" alt="Inscripci贸n" title="Inscripci贸n" class="img-fluid pl-4"></h1>
</div>