<h1>Editing Mosaico Natura Galeria</h1>

<%= render 'form', mosaico_natura_galeria: @mosaico_natura_galeria %>

<%= link_to 'Show', @mosaico_natura_galeria %> |
<%= link_to 'Back', mosaico_natura_galerias_path %>
