<div class="col-12 col-md-8 py-4 text-center mt-5 mb-5">
	<div class="row">
			<div class="col-12 col-md-4">
				<p>Las mejores fotografías de la categoría de adultos y jóvenes formarán parte de la exposición <strong>"Visiones de nuestra naturaleza VI"</strong> a exponerse en la rejas de Av. Reforma en el Bosque de Chapultepec, Ciudad de México del <strong>4 de julio al 22 de septiembre del 2022</strong>.</p>
				<h3><a href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/7796/index.html" target="_blank">&quot;Visiones de nuestra naturaleza I&quot;</a></h3>
				<p>Finalistas del primer concurso</p>
				<hr>
				<h3><a href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/14172/index.html" target="_blank">&quot;Visiones de nuestra naturaleza IV&quot;</a></h3>
				<p>Finalistas del cuarto concurso</p>
				<hr>
				<h3><a href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/15237/index.html" target="_blank">&quot;Visiones de nuestra naturaleza: 5 años de naturaleza y arte</a></h3>
				<p>Recopilación de las mejores fotografías que han participado en el concurso durante 2015-2019</p>
			</div>
			
			
			<div class="col-12 col-md-4">
				<h3><a href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/12546/index.html" target="_blank">&quot;Visiones de nuestra naturaleza II&quot;</a></h3>
				<p>Finalistas del segundo concurso</p>
				<hr>
				<h3><a href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/14865/index.html" target="_blank">&quot;Visiones de nuestra naturaleza V&quot;</a></h3>
				<p>Finalistas del quinto concurso</p>
			
			</div>
			
			
			<div class="col-12 col-md-4">
				<h3><a href="http://bioteca.biodiversidad.gob.mx/janium/Galerias/13010/index.html" target="_blank">&quot;Visiones de nuestra naturaleza III&quot;</a></h3>
				<p>Finalistas del tercer concurso</p>
				<hr>
				<h3 class="mt-5">ANTERIORES</h3>
				<p><a href="http://bdi.conabio.gob.mx/fotoweb/archives/5032-Exposiciones/Exposiciones/25%20Miradas%20al%20Bosque/" style="color: darkred" target="_blank">&quot;25 Miradas al Bosque&quot;</a></p>
				<!--<p><a href="http://bdi.conabio.gob.mx/fotoweb/archives/5032-Exposiciones/Exposiciones/Biodiversidad%20mexicana%20riqueza%20natural%20de%20M%C3%A9xico%20MuseoHN/" style="color: darkred" target="_blank">&quot;Biodiversidad Mexicana&quot;</a></p>
				<p>&quot;creArte conCiencia&quot;</p> -->
				<hr>
			<!--	<p class="mt-5"><a href="https://www.biodiversidad.gob.mx/conabio/exposiciones" target="_blank">Otras exposiciones</a></p> -->
			</div>
	</div>
</div>