<div class="col-12 col-md-8 py-4 text-center">
	<div class="row justify-content-center">
	  <div class="col-lg-2 col-md-6 col-xs-12 text-center">
			<i class="fa fa-4x fa-newspaper-o wow bounceIn text-warning y"></i>
			<h3>Noticias</h3>
			<p><a href="/concursos_assets/mosaico_natura/Boletin_MosaicoNatura6.pdf" target="_blank">Boletín de prensa</a></p>
		</div>
		<div class="col-lg-2 col-md-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-audio-o wow bounceIn text-warning y" data-wow-delay=".1s"></i>
                    <h3>Spot</h3>
                    <p>
                    <audio src="/concursos_assets/mosaico_natura/SpotConcursoMN6.mp3" preload="auto" controls style="width:100%"></audio>
                    </p>
                </div>
            </div>
		<div class="col-lg-5 col-md-6 col-xs-12 text-center">
			<i class="fa fa-4x fa-file-video-o wow bounceIn text-warning y" data-wow-delay=".1s"></i>
			<h3>Video</h3>
			  <div class="list-group">
                 <iframe src="https://player.vimeo.com/video/644119558?h=d66f8df6f0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              </div>
		</div>
		
		<div class="col-lg-3 col-md-6 col-xs-12 text-center">
			<i class="fa fa-4x fa-file-image-o wow bounceIn text-warning y" data-wow-delay=".1s"></i>
			<h3>Anuncios</h3>
			<div class="list-group">
				<a class="list-group-item sb" href="/concursos_assets/mosaico_natura/Invitacion1.jpg" target="_blank"><i class="fa fa-download fa-fw"></i> invitación 1</a>
				<a class="list-group-item sb" href="/concursos_assets/mosaico_natura/Invitacion2.jpg" target="_blank"><i class="fa fa-download fa-fw"></i> invitación 2</a>
			</div>
		</div>
	</div>
</div>