body{
	font-family:"myriad-pro-condensed", 'Barlow Condensed', Arial, sans-serif;
	
}
h1,h2,h3,h4,h5,h6{
	font-family:"myriad-pro-condensed", 'Barlow Condensed', Arial, sans-serif;
	font-weight:bold;
}

#intro{
  /*background-image: url();*/
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* ¿Quiénes somos?*/
#quienesSomos{
}
#quienesSomos .sub-header{
	background-image: url('/concursos_assets/mosaico_natura/bg-quienesSomos.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	padding: 60px 0;
	margin:0;
	text-shadow: 2px 2px 5px #000;
}

/* Concurso */
#concurso{}
#concurso .sub-header{
	background-image: url('/concursos_assets/mosaico_natura/bg-concurso.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	padding: 60px 0;
	margin:0;
	text-shadow: 2px 2px 5px #000;
}

/* Categorías */
#categorias{}
#categorias .sub-header{
	background-image: url('/concursos_assets/mosaico_natura/bg-categorias.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	padding: 60px 0;
	margin:0;
	text-shadow: 2px 2px 5px #000;
}

/* Bases */
#exposiciones{}
#exposiciones .sub-header{
	background-image: url('/concursos_assets/mosaico_natura/bg-exposiciones.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	padding: 60px 0;
	margin:0;
	text-shadow: 2px 2px 5px #000;
}

/* Medios */
#medios{}
#medios .sub-header{
	background-image: url('/concursos_assets/mosaico_natura/bg-medios.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	padding: 60px 0;
	margin:0;
	text-shadow: 2px 2px 5px #000;
}

/* Inscripcion */
#inscripcion{}
#inscripcion .sub-header{}

#copyright{
	padding:10px 0;
	margin:0;
}

#copyright p{
	font-size:18px;
	line-height:1;
	margin:0;
}

#imgmosaicosomos {
vertical-align: baseline;
	}