body{
	font-family:"myriad-pro-condensed", 'Barlow Condensed', Arial, sans-serif;
	
}
h1,h2,h3,h4,h5,h6{
	font-family:"myriad-pro-condensed", 'Barlow Condensed', Arial, sans-serif;
	font-weight:bold;
}

#intro{
  /*background-image: url();*/
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* ¿Quiénes somos?*/
#quienesSomos{}
#quienesSomos .sub-header{}

/* Jurado */
#concurso{}
#concurso .sub-header{}

/* Categorías */
#categorias{}
#categorias .sub-header{}

/* Bases */
#exposiciones, .bases{}
#exposiciones .sub-header{}

/* Medios */
#medios{}
#medios .sub-header{}

/* Inscripcion */
#inscripcion{}
#inscripcion .sub-header{}

#copyright{
	padding:10px 0;
	margin:0;
}

#copyright p{
	font-size:18px;
	line-height:1;
	margin:0;
}

#imgmosaicosomos {
vertical-align: baseline;
	}