#intro{
  /*background-image: url();*/
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* ¿Que es?*/
#queEs{}
#queEs .sub-header{}

/* Jurado */
#jurado{}
#jurado .sub-header{}

/* Categorías */
#categorias{}
#categorias .sub-header{}

/* Bases */
#bases, .bases{}
#bases .sub-header{}

/* Medios */
#medios{}
#medios .sub-header{}

/* Inscripcion */
#inscripcion{}
#inscripcion .sub-header{}
