header{
  background-color: #333333;
  color: #fafafa;
}
header img{
  max-width: 3rem;
}
#menu-header{
  list-style-type: none;
  overflow: hidden;
}
#menu-header li {
  float: left;
}

#menu-header li a {
  display: block;
  //  color: white;
  //  text-align: center;
  //  padding: 16px;
  text-decoration: none;
}

#menu-header li a:hover {
  background-color: #111111;
}
#inscripcion, #intro{
  background-image: url('/assets/entre_azul_y_verde/fondo.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* ¿Que es?*/
#queEs{
  background-color: #39868f;
}
#queEs .row{
  background-color: #0c434c;
}

/* Categorías */
#categorias{
  background-color: #acbf55;
}
#categorias .row{
  background-color: #867c0a;
}

/* Bases */
#bases{
  background-color: #b96800;
}
#bases .row{
 background-color: #634118;
}

/* Medios */
#medios{
  background-color: #1f4747;
}
#medios .row{
  background-color: #51786a;
}