#inscripcion, #intro{
  background-image: url('/assets/entre_azul_y_verde/fondo.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* ¿Que es?*/
#queEs{
  background-color: #0c434c;
}
#queEs .sub-header{
  background-color: #39868f;
}

/* Categorías */
#categorias{
  background-color: #867c0a;
}
#categorias .sub-header{
  background-color: #acbf55;
}
.pleca_ama {
	font-size: 22px;
    vertical-align: top;
    line-height: 33px;
}
.tabla-premios-adulto table{
	margin-bottom:5px;
	font-size:18px;
	line-height:1.2;
	text-align:center;
	background-color:transparent;
	color: #FFCA84;
	}	
.tabla-premios-adulto img{
	margin-bottom:10px;
	}	

/* Bases */
#bases{
  background-color: #634118;
}
#bases .sub-header{
  background-color: #b96800;
}

/* Medios */
#medios{
  background-color: #51786a;
}
#medios .sub-header{
  background-color: #1f4747;
}
.icono-fa{
	color: #a7f5d9;
	}
