header, footer{
  background-color: #333333;
}
header img{
  max-width: 3rem;
}
#menu-header{
  list-style-type: none;
  overflow: hidden;
}
#menu-header li {
  float: left;
}

#menu-header li a {
  display: block;
  //  color: white;
  //  text-align: center;
  //  padding: 16px;
  text-decoration: none;
}

#menu-header li a:hover {
  background-color: #111111;
}
#inscripcion, #intro{
  background-image: url('/assets/entre_azul_y_verde/fondo.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* ¿Que es?*/
#queEs{
  background-color: #39868f;
}
#queEs .sub-header{
  background-color: #0c434c;
}

/* Categorías */
#categorias{
  background-color: #acbf55;
}
#categorias .sub-header{
  background-color: #867c0a;
}
.pleca_ama {
	font-size: 22px;
    vertical-align: top;
    line-height: 33px;
}
.tabla-premios-adulto table{
	margin-bottom:5px;
	font-size:18px;
	line-height:1.2;
	text-align:center;
	background-color:transparent;
	color: #FFCA84;
	}	
.tabla-premios-adulto img{
	margin-bottom:10px;
	}	

/* Bases */
#bases{
  background-color: #b96800;
}
#bases .sub-header{
 background-color: #634118;
}

/* Medios */
#medios{
  background-color: #1f4747;
}
#medios .sub-header{
  background-color: #51786a;
}
